.play-btn{
    background-color: var(--primary-color);
    color: white !important;
}

.quiz-card{
    object-fit: contain;
    height: 80vh;
   overflow-x: hidden;
    background-color: var(--accent-color);
    color: white;
    border-radius: 10px;
}

.card-image-container{
    height: 60vh;
    border: 2px solid grey;
    object-fit: contain;
}
.card-image-container img{
    object-fit: contain;
}
.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    color: var(--primary-color);
}