*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-container{
    padding: 0 1rem;
}
.category-card{
    flex: 2;
    display: flex;
    padding: 4rem 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 1rem;
    margin-top: 2rem;
    flex: wrap;
    justify-content: space-around;    
    margin-bottom: 5rem;
}
.nav-home{
    background-color: var(--accent-color) ;
    color: white;
}
.sidebar-category-card{
    display: flex;
    justify-content: space-between;
} 

.main{
    background-color: var(--bg-color);
}



/* Home.css */

/* Sidebar container */
.side-bar {
    
   z-index: 4;
    background-color: var(--bg-color); 
    height: fit-content;
    width:20rem; 
    padding: 20px 20px 0 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
  }
  
 label{
    font-size: 1.2rem;
 }
  .headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  
  .clear-btn {
    color: white; 
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    
  }

  .option input[type="radio"] {

    flex: 0 0 auto;
  
  }
  .filter{
    font-size: 3rem;
    color: var(--primary-color);
  }
  
  .category{
    color: var(--primary-color);
    font-size: 1.5rem;
 }