.dashboard-container{
    /* display: block; */
    display: flex;
    background-color: #FA7020;
}

.sidebar{
  width: 5rem;
  height: 100vh;
  background-color: #cc5333;
  padding: 3px;
  position: absolute;
  padding-top: 15vh;
}
.icon-button{

    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 1rem 1%;
    height: 4rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    color: black;
    font-weight: bolder;
}
.icon-button:active{
    scale: 1.2;
}