.dashboard-container{
    /* display: block; */
    display: flex;
}

.sidebar{
  width: 5rem;
  height: 100vh;
  background-color: white;
  padding: 3px;
  position: absolute;
}
.icon-button{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 1rem 1%;
    height: 4rem;
    justify-content: space-evenly;
    align-items: center;
}
