.heading{
    background-color: var(--accent-color);
    

}
.logo-name{
    color: white;
}

.search-bar-container{
 
    align-items: flex-end;
    width: 55vw;
    flex-direction: row;
    justify-content: space-between;
}