/* Assuming you want to apply these styles to the outer div */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.video-container {
    width: 100%; /* w-screen */
    display: flex; /* flex */
    height: 120vh; /* h-screen */
    flex-direction: row; /* flex-row */
    /* margin-left: 3rem;  */
/* background-color: ; */
overflow-y: scroll;
}

/* Assuming you want to apply these styles to the inner div */
.video-content {
    width: 130vw; /* w-full */
    height: 80% ;/* h-2/3 */
    /* margin-left: 11rem;  */
    /* margin-top: 1rem;  */
    padding: 0.5rem; /* px-2 */
    padding-top: 0.5rem; /* pt-2 */
    border-radius: 0.75rem; /* rounded-xl */
    border-width: 2px; /* border-2 */
    border-color: #cbd5e0; /* border-slate-400 */
}

/* Assuming you want to apply these styles to the iframe */
.video-iframe {
    width: 100%; /* w-full */
    height: 80%; /* h-5/6 */
}

/* Assuming you want to apply these styles to the inner div containing details */
.video-details {
    margin-top: 0.25rem; 
    height: 16.666667%; /* h-1/3 */
    text-align: left; /* text-left */
    font-size: 1.5rem; /* text-xl */
    color: #718096; /* text-slate-600 */
}

/* Assuming you want to apply these styles to the title */
.video-title {
    font-weight: 600;
}

/* Assuming you want to apply these styles to the description */
.video-description {
    font-size: 1.25rem; /* text-lg */
    padding-top: 0.5rem; /* pt-2 */
}
