/* Add these styles to your gallery.css file */
/* 
 .tutorial-container {
    display: flex;
    background-color: #FA7020;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .custom-container {
    background-color: #fff;
    width: 30%;
    overflow-y: scroll;
    border-right: 1px solid grey;
    padding: 1rem;

  }
  
  .item-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 5rem;
    cursor: pointer;
  }
  
  .item-detail img {
    border-radius: 50%;
    margin-right: 1rem;
    width: 50px;
    height: 50px;
  }
  
  .video-container {
    flex: 1;
    background-color: #e5e5e5;
    overflow-y: auto;
    padding: 1rem;
  }
  
  .video-content {
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #000;
  } 
  
  .video-container::-webkit-scrollbar {
    width: 0.4em;
  }
  
  .video-container::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  .video-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .video-details{
    color: black;
  }  */



  /* Assuming you want to apply these styles to the outer div */
.tutorial-container {
  display: flex;
  /* flex-direction: column; */
  background-color: #FA7020;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  margin-left: 5rem;

}

.custom-container {
 
  background-color: white;
  width: 30%; /* Adjust the width as needed */
  overflow-y: auto;
  height: 70%;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 4rem 0 1rem 1rem;
  padding: 1rem;
}

/* Styling for each item in the custom container */
.item-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.item-detail img {
  width: 100px; /* Set the desired width for your images */
  height: 100px; /* Set the desired height for your images */
  border-radius: 50%;
}

.video-container {
  width: 70%; /* Adjust the width as needed */
  padding: 1rem;
}

.video-content {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid grey;
  background-color: white;
}

.video-details {
  margin-top: 0.5rem;
}

.video-title {
  font-weight: 600;
}

.video-description {
  font-size: 1rem;
}
