.d-grid {
    /* margin: 7rem 0 1rem 0; */
    display: grid;
    place-content: center center;
    overflow-y: scroll;
     height: fit-content;
     position: relative;
     bottom: 1rem;
     color: white;
    
}

.login-auth {
  width: 45vw;
  height: 80vh;
  background-color: var(--accent-color);
  color: white;
  padding: 1rem 2rem;
  margin: 5rem 2rem;
  border-radius: 5px;
}

.auth-title {
  margin: 1rem 0;
  text-align: center;
  font-size: 2.5rem;
}


.form-input-log {
  width: 100%;
  height: 2.5rem;
  margin: 4px 0;
  font-size: 1rem;
  
  border-radius: 4px;
 
}

.form-input-log:focus {
  outline: 2px solid var(--primary-color);;
}
  
.form-label {
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.form-container {
  margin: 1rem 0;
  color: white;
}

.label-remember {
  font-size: 1rem;
  /* color: var(--text-color-primary); */
  
}

.forgot-pass {
  font-size: 1rem;
  margin-left: auto;
}

.check-box {
  height: 1rem;
  width: 1rem;
  margin-right: 8px;
}

.login-btn {
  width: 100%;
  height: 3rem;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: 900;
  font-size: 1.5rem;                      ;
}
.sign-up-here{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.sign-up-here span{
    color: var(--primary-color);
}
.padding-small {
  padding: .5rem 0;
}

.create-account {
  margin: 1rem 0;
}

.new-account {
  font-weight: 700;
  font-size: 1.5rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.create-acc {
  text-decoration: none;
  color: var(--text-color-primary);
}

.pwd-icon-position {
  top: 2rem;
  right: 0.5rem;
}

.pass-check-text {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  color: var(--text-color-primary);
  width: max-content;
  padding: 8px;
  border-radius: 4px;
}

.display-n {
  display: none;
}

.sign-up-btn[disabled]:hover {
  cursor: none;
  background-color: var(--primary-color);
  color: var(--text-color-primary);
}

.check-box {
  width: 1.125rem;
  height: 1.125rem;
}

.btn-outline-primary {
  color: white;
  background-color: transparent;
  border: 1px solid var(--bg-color);
  cursor: pointer;
}

.btn-outline-primary:hover {
  color: var(--background-color);
  background-color: var(--bg-color);
  cursor: pointer;
}


.singup-page{
  height: 1000px;
}