/* Add this CSS to your Auth.css file or your stylesheet */

.container{
    width: 45vw; 
    margin: 2rem auto; 
    padding: 20px;
    background-color: var(--accent-color); 
    border-radius: 5px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 120vh;
    /* border: 2px solid green; */

}
.error-message{
  color: crimson;
}
.auth-title{
  text-align: center;
  font-size: 2.5rem;
  color: white;
}
  
.form-input-log {
  width: 100%;
  height: 2.5rem;
  margin: 4px 0;
  font-size: 1rem;
  
  border-radius: 4px;
 
}

.form-input-log:focus {
  outline: 2px solid var(--primary-color);;
}
  
.form-label {
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.form-container {
  margin: 1rem 0;
  color: white;
  margin-bottom: 15px;
}

  /* Optional: Add spacing between form elements */
  .login-here{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: white;
  }
  .login-here span{
      color: var(--primary-color);
  }


  
  .signUp-container button[type="submit"]:hover {
    background-color: #0056b3; /* Button color on hover */
  }
  
.auth-label{
  height: 2rem;
}
.auth-input{
  height: 2rem;
}
  /* FormikForm.css */

.signup-btn{
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: 900;    
}

  